.App {
  font-family: Arial, sans-serif;
  text-align: center;

 
}

.App-header {
  display: flex;
  align-items: center; 
  justify-content:center; 
  padding: 20px;
  background-color: #04a29f;
  color: white;
}
.logo {
  width: 120px;  
  height: auto;
  margin-right: 15px; 
}

.App-main {
  color:white;
  background-color: #99c7cc;
}
.title {
  font-size: 80px;
}


.App-footer {
  background-color: #04a29f;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
