
.Phonetic {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 900px;
    margin: 20px auto
  }

  p {color: black;}
 

.Pronunciation-title {
    font-size: 28px;
    font-weight: bold;
    text-decoration: solid;
    color: #04a29f; 
    margin-bottom: 3px;
    text-transform: capitalize;
  }
  

  .audio-line{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 10px;
   
   
  }

  .text-line{
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    gap: 10px; 
   
  }
  .text, .audio  {
    color: #333; 
  }

  .audio-button{
    
    border: none;
  }

  .Phonetic p,
  .Phonetic span {
    margin: 0; 
    display: inline-block; 
  }