.searching-word {
    font-size: 28px;
    font-weight: bold;
    text-decoration: solid;
    color: #04a29f; 
    margin-bottom: 16px;
    text-transform: capitalize;

    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    display: inline-block;
    animation: bounce 5s ease infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}