.Synonyms {
  display: flex;         
  gap: 10px;            
  list-style-type: none; 
  padding: 0;            
  color: #333; 
  font-size: 16px;
  margin-top: 5px;
}

.Synonyms-title{
  color:black
}


